#playfield {
  position: relative;
  width: 90%;
  height: 400px;
  border: 2px orange solid;
}
.segment {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 5px;
}
.head {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  border: 1px red solid;
  background-color: pink;
  border-radius: 8px;
}
.body {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  border: 1px blue solid;
  background-color: lightblue;
}
